# Java
/target
*.class
*.jar

# Node
node_modules/
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
venv/

# Env files
.env
*.env

# Hugging Face
~/.cache/huggingface/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
